.g1{
    font-family: "varela round", sans-serif;
    font-weight: 600;
    color:antiquewhite
}
.graph1{
    height: 98vh;
    width: 99vw;
}
.topnav{
    transform: translateY(4%);
    background-color: rgb(93, 93, 247);
    overflow: hidden;
}
.topnav a{
    float: left;
    color: rgb(195, 246, 248);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #71a1df;
    color: white;
}
.topnav{
    padding-top: 10px;
}

button{
    background-color: rgb(93, 93, 247);
    color: rgb(195, 246, 248);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
