@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');

h1{
    font-family: "Roboto serif",sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    /* make the size of the block half the page */
    width: 50%;
    /* center the block */
    margin: 0 auto;
    padding: 5px 0;
}

p{
    font-family: "Roboto serif",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    line-height: 32px;
    font-weight: 500;
    /* center the text */
    text-align: justify;
    /* make the size of the block half the page */
    width: 60%;
    /* center the block */
    margin: 0 auto;
    padding: 14px 16px;
}

div{
    height: 51px;
    position: fixed;
    background-color: #1CABE2;
    width: 100%;
    top: 0px;
    right: 0px;
}
.comp{
    color: white;
}